---
import { Image } from "astro:assets";
import music_note from "../assets/images/music_notes.svg";
import { makeIssue } from "astro:schema";

const web3formsKey = import.meta.env.PUBLIC_WEB3FORMS_KEY;
---

<section
    id="contact"
    class="flex flex-col md:flex-row justify-start md:justify-around items-center md:min-h-screen h-full w-full p-5 bg-beige-secondary"
>
    <div
        class="flex flex-col flex-start gap-5 md:gap-10 h-auto md:h-full md:w-2/5 md:p-10"
    >
        <h2
            class="text-center md:text-start text-4xl md:text-6xl text-pink-secondary"
        >
            Contact
        </h2>
        <p class="text-center text-base md:text-xl text-brown-primary">
            <i
                >Prise de rendez-vous/ Inscription Ateliers/ Devis/
                Renseignements</i
            >
        </p>
        <div class="flex flex-row items-center justify-center gap-4 m-auto">
            <Image
                src={music_note}
                alt="note de musique"
                class="h-auto w-16 md:w-24 -translate-y-2"
            />
            <Image
                src={music_note}
                alt="note de musique"
                class="h-auto w-16 md:w-24 translate-y-3"
            />
            <Image
                src={music_note}
                alt="note de musique"
                class="h-auto w-16 md:w-24 -translate-y-2"
            />
        </div>
    </div>
    <form
        action="https://api.web3forms.com/submit"
        method="POST"
        class="flex flex-col gap-5 h-auto md:h-4/5 w-full md:max-w-2/5 p-6 md:p-10 rounded-2xl bg-white border border-pink-primary/30 shadow-md shadow-pink-primary/15"
    >
        <input type="hidden" name="access_key" value={web3formsKey} />
        <input
            type="hidden"
            name="subject"
            value="Nouveau message depuis le site margauxkadi.com"
        />
        <input type="checkbox" name="botcheck" class="hidden" />
        <label
            for="name"
            class="flex flex-col gap-1 text-pink-secondary font-young-serif"
            >Nom
            <input
                type="text"
                name="name"
                id="name"
                class="input-form"
                placeholder="Votre nom"
                required
            />
        </label>
        <label
            for="email"
            class="flex flex-col gap-1 text-pink-secondary font-young-serif"
            >Email
            <input
                type="email"
                name="email"
                id="email"
                class="input-form"
                placeholder="votre@email.com"
                required
            />
        </label>
        <label
            for="message"
            class="flex flex-col gap-1 text-pink-secondary font-young-serif"
            >Message
            <textarea
                name="message"
                id="message"
                class="text-area-form resize-none overflow-hidden"
                rows="3"
                placeholder="Votre message..."
                required></textarea>
        </label>
        <button type="submit" class="submit-button">Envoyer</button>
    </form>
</section>

<script>
    const textarea = document.getElementById("message") as HTMLTextAreaElement;
    textarea.addEventListener("input", () => {
        textarea.style.height = "auto";
        textarea.style.height = textarea.scrollHeight + "px";
    });
</script>
