
<section id="contact" class="flex flex-col md:flex-row justify-start md:justify-around items-center min-h-screen md:h-screen w-full p-5 bg-beige-secondary ">
		<div class="flex flex-col flex-start md:gap-10 h-auto md:h-full md:w-2/5 p-5 md:p-10">
			<h2 class="text-center md:text-start text-3xl md:text-8xl text-pink-secondary">Contact</h2>
			<p class="text-center md:text-3xl text-brown-primary"><i>Prise de rendez-vous/ Inscription Ateliers/ Devis/ Renseignements</i></p>
		</div>
		<form action="post" class="flex flex-col gap-2 h-auto md:h-4/5 w-full md:max-w-1/2 p-4 rounded-md bg-white border-2 border-pink-secondary">
			<label for="name" class="text-pink-secondary">Name
				<input type="text" name="name" id="name" class="input-form">
			</label>
			<label for="email" class="text-pink-secondary">Email
				<input type="email" name="email" id="email" class="input-form">
			</label>	
			<label for="message" class="text-pink-secondary">Message</label>
				<textarea name="message" id="message" class="text-area-form"></textarea>
				<button type="submit" class="submit-button">Send</button>
		</form>
	
</section>
<footer class="flex justify-center md:justify-evenly items-center h-2/12 w-full ps-5 md:ps-32 pe-5 md:pe-32 bg-red-secondary text-white">
	<p class="w-1/2 text-start md:text-xl">margaux.kadi@gmail.com</p>
	<p class="w-1/2 text-end md:text-xl">@margauxkadi</p>
</footer>
