<section
    id="contact"
    class="flex flex-col md:flex-row justify-start md:justify-around items-center min-h-screen md:h-screen w-full p-5 bg-beige-secondary"
>
    <div
        class="flex flex-col flex-start md:gap-10 h-auto md:h-full md:w-2/5 p-5 md:p-10"
    >
        <h2
            class="text-center md:text-start text-3xl md:text-8xl text-pink-secondary"
        >
            Contact
        </h2>
        <p class="text-center md:text-3xl text-brown-primary">
            <i
                >Prise de rendez-vous/ Inscription Ateliers/ Devis/
                Renseignements</i
            >
        </p>
    </div>
    <form
        action="https://api.web3forms.com/submit"
        method="POST"
        class="flex flex-col gap-2 h-auto md:h-4/5 w-full md:max-w-1/2 p-4 rounded-md bg-white border-2 border-pink-secondary"
    >
        <input type="hidden" name="access_key" value="TA_CLE_API_ICI" />
        <input
            type="hidden"
            name="subject"
            value="Nouveau message depuis le site margauxkadi.com"
        />
        <input type="checkbox" name="botcheck" class="hidden" />
        <label for="name" class="text-pink-secondary"
            >Name
            <input
                type="text"
                name="name"
                id="name"
                class="input-form"
                required
            />
        </label>
        <label for="email" class="text-pink-secondary"
            >Email
            <input
                type="email"
                name="email"
                id="email"
                class="input-form"
                required
            />
        </label>
        <label for="message" class="text-pink-secondary">Message</label>
        <textarea name="message" id="message" class="text-area-form" required
        ></textarea>
        <button type="submit" class="submit-button">Envoyer</button>
    </form>
</section>
