---
import { Image } from "astro:assets";
import portrait from '../assets/images/Margaux_Kadi_portrait.jpg'
import facebook from "../assets/icons/Facebook_Logo_Primary.png"
import instagram from "../assets/icons/Instagram_Glyph_Gradient.png"

import NavLinks from "./navlinks.astro";

---

<section class="flex flex-col justify-start gap-5 md:gap-2 h-full w-full p-5">
  <header class="md:flex md:justify-evenly items-center h-1/5 ">
    <NavLinks title="Qui je suis" link="#qui_je_suis"/>
    <NavLinks title="Les cours de chant" link="#les_cours_de_chant"/>
    <NavLinks title="Sur scène" link="#sur_scene"/>
    <NavLinks title="Contact" link="#contact"/>
    
    
    <div class="flex justify-center items-start gap-3">
      <a href="https://www.instagram.com/margauxkadilaurenson/?hl=fr"
      target="_blank"
        ><Image
          src={instagram}
          width={60}
          height={60}
          alt="logo instagram"
        /></a
      >
      <a href=""
      target="_blank"
        ><Image
          src={facebook}
          width={60}
          height={60}
          alt="logo facebook"
        /></a
      >
    </div>
  </header>

  <article class="flex flex-col md:flex-row md:justify-center h-full p-5">
    <Image src={portrait} alt="Portrait de Margaux Kadi" class="img-rounded" />

    <div class="flex flex-col justify-center h-full w-full md:w-2xl p-3 ">
      <h3 class="capitalize text-home-page text-outline-red">
        <i>Margaux Kadi</i>
      </h3>
      <h3 class="uppercase text-home-page text-outline-pink" >
        Coach vocale & professeure de technique vocale
      </h3>
    </div>
  </article>
</section>






