---
import { Image } from "astro:assets";
import cours_de_chant from "../assets/images/Les_cours_de_chant.jpg";
---

<section
    id="les_cours_de_chant"
    class="flex flex-col justify-start md:justify-around gap-5 w-full min-h-screen p-5 bg-red-secondary text-beige-secondary"
>
    <h2 class="text-3xl md:text-8xl text-center md:text-end md:me-6">
        Les cours de chant
    </h2>
    <div class="flex flex-col md:flex-row justify-start md:justify-around">
        <Image
            src={cours_de_chant}
            alt="Margaux enseigne des cours de chant à l'aide d'un piano"
            class="img-rounded h-auto w-full max-w-1/2 md:max-w-1/3 m-auto"
        />
        <div
            class="flex flex-col justify-start md:justify-around gap-5 md:gap-0 md:w-2/4 p-5"
        >
            <p>
                Les cours de chant sont comme un laboratoire de la voix où je
                vous invite à explorer votre instrument avec des outils
                concrets, afin de développer une fonction vocale libre et saine,
                dans un cadre pédagogique bienveillant et positif. Les cours
                sont adaptés à vos besoins : travail de la voix parlée ou
                chantée à travers <br /> approfondissement ou développement de la
                technique vocale<br /> coaching vocal pour la préparation aux auditions
                et castings<br /> coaching vocal pour vos prestations scéniques ou
                enregistrements<br /> studio réhabilitation de la voix parlée et/ou
                chantée<br /> Je suis spécialisée en comédie musicale, bien que je
                coache également des artistes pop. Les cours ont lieu à Paris (13e
                arrondissement), à Maisons-Alfort (Val-de-Marne), et/ou en visioconférence.
            </p>
        </div>
    </div>
</section>
