---
import { Image } from "astro:assets";
import cours_de_chant from "../assets/images/Les_cours_de_chant.jpg";
---

<section
    id="les_cours_de_chant"
    class="flex flex-col justify-start md:justify-around gap-5 w-full min-h-screen h-screen p-5 md:p-10 bg-red-secondary text-beige-secondary"
>
    <h2 class="text-3xl md:text-7xl text-center md:text-center">
        Les cours de chant
    </h2>
    <div
        class="flex flex-col md:flex-row justify-start md:justify-around h-full"
    >
        <Image
            src={cours_de_chant}
            alt="Margaux enseigne des cours de chant à l'aide d'un piano"
            class="img-rounded md:min-h-56 h-auto w-full max-w-1/2 md:max-w-1/3 m-auto"
        />
        <div
            class="bg-amber-50 flex flex-col justify-start md:justify-around gap-5 md:gap-0 md:w-2/4 md:h-4/5 p-5"
        >
            <p>
                Les cours de chant sont comme un laboratoire de la voix où je
                vous invite à explorer votre instrument avec des outils
                concrets, afin de développer une fonction vocale libre et saine,
                dans un cadre pédagogique bienveillant et positif.
            </p>
            <p>
                Les cours sont adaptés à vos besoins : travail de la voix parlée
                ou chantée à travers
            </p>
            <ul>
                <li>
                    approfondissement ou développement de la technique vocale
                </li>
                <li>
                    coaching vocal pour la préparation aux auditions et castings
                </li>
                <li>
                    coaching vocal pour vos prestations scéniques ou
                    enregistrements studio
                </li>
                <li>réhabilitation de la voix parlée et/ou chantée</li>
            </ul>
            <p>
                Je suis spécialisée en comédie musicale, bien que je coache
                également des artistes pop.
            </p>
            <p>
                Les cours ont lieu à Paris (13e arrondissement), à
                Maisons-Alfort (Val-de-Marne), et/ou en visioconférence.
            </p>
        </div>
    </div>
</section>
