---
import { Image } from "astro:assets";
import cours_de_chant from "../assets/images/Les_cours_de_chant.jpg"

---


<section 
  id="les_cours_de_chant"
  class="flex flex-col justify-start md:justify-around w-full h-full p-5 bg-red-secondary text-beige-secondary"
>
  <h2 class="text-3xl md:text-8xl text-center md:text-end md:me-6">Les cours de chant</h2>
  <div class="flex flex-col md:flex-row justify-start md:justify-around">
    <Image
      src={cours_de_chant}
      alt="Margaux enseigne des cours de chant à l'aide d'un piano"
      class="md:w-2/5 img-rounded"
    />
    <div class="flex flex-col justify-start md:justify-around gap-5 md:gap-0 md:w-2/4 p-5 ">
      <h3 class="text-3xl md:text-5xl">Cours particuliers</h3>
      <p class="md:text-2xl">
        Practical, grounding tools to help you stay centered in daily life.
      </p>
      <hr />
      <h3 class="text-3xl md:text-5xl">Cours collectifs</h3>
      <p class="md:text-2xl">
        Slow, intentional practices that stregthen both body and mind.
      </p>
      <hr />
      <h3 class="text-3xl md:text-5xl">Ateliers</h3>
      <p class="md:text-2xl">
        Calm, clear frameworks that help teams thrive sustainably.
      </p>
      <hr />
    </div>
  </div>
</section>
