---
import { Image } from "astro:assets";
import sur_scene_1 from "../assets/images/sur_scene_1.jpg";
import sur_scene_2 from "../assets/images/sur_scene_2.png";
import sur_scene_3 from "../assets/images/sur_scene_3.jpg";
---

<section
    id="sur_scene"
    class="flex flex-col justify-start gap-5 md:gap-20 w-full min-h-screen p-5 bg-beige-secondary"
>
    <h2 class="text-center text-4xl md:text-6xl text-pink-secondary">
        Sur scène
    </h2>
    <div
        class="flex flex-col md:flex-row items-center gap-10 md:gap-16 w-full px-5 md:px-16"
    >
        <!-- Collage photos -->
        <div class="flex flex-col items-center gap-6 md:relative md:w-1/2 md:min-h-137.5">
            <Image
                src={sur_scene_1}
                alt="margaux Kadi sur scène en cabaret"
                class="img-onstage img-rounded max-w-56 md:absolute md:top-0 md:left-0 md:-rotate-12 md:z-10 md:max-w-80"
            />
            <Image
                src={sur_scene_3}
                alt="margaux Kadi avec son trio les Popsicle Sisters"
                class="img-onstage img-rounded max-w-56 md:absolute md:top-20 md:left-2/5 md:rotate-12 md:z-30 md:max-w-80"
            />
            <Image
                src={sur_scene_2}
                width={500}
                height={500}
                alt="margaux Kadi sur scène en comédie musicale"
                class="img-onstage img-rounded max-w-56 md:absolute md:bottom-2 md:left-8 md:rotate-3 md:z-20 md:max-w-80 grayscale"
            />
        </div>

        <!-- Texte -->
        <div class="flex flex-col gap-5 w-full md:w-1/2 md:p-2 text-start md:text-center">
            <p class="p-whoami">
                En parallèle de l’enseignement, je joue et chante dans divers
                projets, tant en comédie musicale, qu’en cabaret, en théâtre
                immersif, ou bien en trio polyphonique.
            </p>
            <p class="p-whoami">
                Je trouve mon épanouissement dans le partage de la scène avec
                mes partenaires de scène et avec le public. Le partage et la
                transmission sont les deux moteurs qui me portent jusqu’à la
                scène.
            </p>
        </div>
    </div>
</section>
