---
import { Image } from "astro:assets";
import mic from "../assets/images/mic.png"

---

<section
  class="flex flex-col items-center justify-around gap-8 md:gap-10 p-5 w-full min-h-screen bg-beige-tertiary "
>
  <h2 class="capitalize text-3xl md:5xl text-red-primary">Témoignages</h2>
  <div class="flex flex-col items-center w-xl">
    <Image
      src={mic}
      alt="Image stylisé d'un microphone"
      class="object-cover"
      class="h-42 w-auto"
    />
    <div class="flex justify-center items-center border-2 border-red-primary ovale">
      <p class="text-lg md:text-base text-center text-red-primary"><i>["témoignages d'élèves"]</i></p>
    </div>
  </div>
</section>

<style>
  .ovale {
    width: 480px;
    height: 300px;
    -webkit-border-radius: 240px / 150px;
    -moz-border-radius: 240px / 150px;
    border-radius: 240px / 150px;
  }

  @media (width <= 600px) {
    .ovale {
      width: 16rem;
      height: 10.7rem;
      -webkit-border-radius: 8rem / 5.4rem;
      -moz-border-radius: 8rem / 5.4rem;
       border-radius: 8rem / 5.4rem;
    }
  }
</style>
<!-- <a href="https://www.flaticon.com/free-icons/mic" title="mic icons">Mic icons created by Icongeek26 - Flaticon</a> -->
